-f https://download.pytorch.org/whl/torch_stable.html 
torch==1.6.0+cpu 
-f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.7.0+cpu
numpy==1.18.5
scipy
matplotlib
transformers
tensorflow
pandas
seaborn

